
.removeDecor {
    text-decoration: none;
    color: black;
    font-size: large;
}

.boxCenter {
  display: flex;
  justify-content: center;

}

.resizeImage {

    width: 400px;
    height: 300px;
    float: right;
    margin-left: 5%;

}

.resizeImageCard {
     width: 400px;
    height: 300px;
}

body{
    background-color: #c7af8f;
}


.articleBackground {
    background-color: #edddc8;
}

.popularBackground {
    background-color: #edddc8;
}

.populartitleBack {
    background-color: #61471E;
}

.navbarControl {
    background-color: #61471E;
}

.navbarItemDecor {

    color: beige;
    text-decoration: none;

}

.navbarItemDecor:hover { color: #DBAF67; }

.cardBorder {
    border-style: solid;
    border-color: #61471E;
    border-width: 3px;
}

.movePopular {
    margin-left: 20px !important;
}

.questionControl {
    margin: 5%;
    border-style: solid;
    border-radius: 10px;
    padding: 10%;
    background-color: #edddc8;
    width: 250%;
}

.questionControlResults {
    margin: 5%;
    border-style: solid;
    border-radius: 10px;
    padding: 5%;
    background-color: #edddc8;
    width: 150%;
}

.questionTitle {
    font-size: x-large;
}

.questionFont {
    font-size: medium;
}

.goodAnswer {
    color: green;
}

.badAnswer {
    color: red;
}

.paginationbox {

    margin-left: 75%;

}