
.removeDecor {
    text-decoration: none;
    color: black;
    font-size: large;
}

.boxCenter {
  display: flex;
  justify-content: center;

}

.resizeImage {

    max-width: 400px;
    height: auto;
    float: right;
    margin-left: 1%;

}

.resizeImageCard {
     width: 300px;
    height: 400px;
}

body{
    background-color: #c7af8f;
}


.articleBackground {
    background-color: #edddc8;
}

.popularBackground {
    background-color: #edddc8;
}

.populartitleBack {
    background-color: #61471E;
}

.navbarControl {
    background-color: #61471E;
}

.navbarItemDecor {

    color: beige;
    text-decoration: none;

}

.navbarItemDecor:hover { color: #DBAF67; }

.cardBorder {
    border-style: solid;
    border-color: #61471E;
    border-width: 3px;
}

.movePopular {
    margin-left: 20px !important;
}

.questionControl {
    margin: 5%;
    border-style: solid;
    border-radius: 10px;
    padding: 10%;
    background-color: #edddc8;
    width: 250%;
}

.questionControlResults {
    margin: 5%;
    border-style: solid;
    border-radius: 10px;
    padding: 5%;
    background-color: #edddc8;
    width: 150%;
}

.questionTitle {
    font-size: x-large;
}

.questionFont {
    font-size: medium;
}

.goodAnswer {
    color: green;
}

.badAnswer {
    color: red;
}

.paginationbox {

    margin-left: 25%;

}

.intro_paint {
    color: #61471E;
    font-weight: bold;
}

.intro_paint:hover { color: white; }


.buttonSee {
    background-color: #61471E;
    color: white;
}

.pageTitle {
    margin-left: 5%;
    margin-top: 1%;
}

.fontFront {
    font-family: "Helvetica Neue", sans-serif;

}

.footerControl {
    background-color: #edddc8;
}

.custom-toggler.navbar-toggler {
    border-color: lightgreen;
}