{% extends "base_template.html" %}
{% block content %}




<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4 fontFront">Witaj!</h1>
       <p class="lead fontFront"> Przejdź do <a class="intro_paint" href="/knowledge">wprowadzenia</a>, aby zapoznać się z prezentowaną tematyką.

       </p>
    <p class="lead fontFront">Aby przejść do konkretnej kategorii, wybierz na mapie obszar, którym jesteś zainteresowany.</p>
  </div>
</div>



<div class="d-inline-flex mx-5 p-5 border border-dark rounded d-none d-lg-block">


         <div>
            <img  src="/static/map/map.png" alt="map" usemap="#image-map">
             <map name="image-map">
    <area target="" alt="fields" title="Pustkowia" href="/category/1" coords="486,170,676,223" shape="rect">
    <area target="" alt="mountains" title="Góry" href="/category/4" coords="223,80,412,128" shape="rect">
    <area target="" alt="water" title="Woda" href="/category/2" coords="565,312,370,361" shape="rect">
    <area target="" alt="forest" title="Las" href="/category/5" coords="92,174,287,234" shape="rect">
    <area target="" alt="city" title="Miasto" href="/category/3" coords="35,380,223,431" shape="rect">
</map>
         </div>
</div>




{% endblock %}