{% extends "base_template.html" %}

{% block thumbnail %}

   <h1 class="pageTitle"> Wprowadzenie </h1>

{% endblock %}


{% block content %}



<div class="container-md d-inline-flex mt-5">

<div class="d-inline-flex mx-5 p-5 border border-dark rounded articleBackground">



         <div>

   <img src="/static/images/607b3cca24f11890.jpg" class="resizeImage img-thumbnail" alt="...">


          <div><p><strong>Czym jest&nbsp;</strong><strong>y</strong><strong>ō</strong><strong>kai</strong><strong>&nbsp;</strong><strong>?</strong></p>

<p>Yōkai&nbsp;to termin odnoszący się do r&oacute;żnego rodzaju zjawisk paranormalnych występujących w Japonii. Japończykom&nbsp;słowo&nbsp;&bdquo;yōkai&rdquo;&nbsp;kojarzy się z&nbsp;chochlikami, zjawami,&nbsp;upiorami<br />
i potworami.&nbsp;Yōkai&nbsp;reprezentują:</p>

<ul>
	<li>&nbsp;społeczne&nbsp;niepokoje,&nbsp;</li>
	<li>&nbsp;katastrofy naturalne,&nbsp;</li>
	<li>&nbsp;wyobrażenia o życiu po śmierci&nbsp;</li>
	<li>strach przed nieznanym.&nbsp;</li>
</ul>

<p><strong>&nbsp;Pisownia&nbsp;słowa&nbsp;</strong><strong><em>yōkai </em></strong><strong>i jego znaczenie</strong></p>

<p>Słowo to składa się z dw&oacute;ch znak&oacute;w&nbsp;kanji&nbsp;&ndash;&nbsp;妖怪.</p>

<p>Pierwszy znak oznacza&nbsp;&bdquo;nieszczęście&rdquo;.&nbsp;Znaczenie drugiego&nbsp;to&nbsp;&bdquo;pojawienie się czegoś&rdquo;&nbsp;lub&nbsp;&bdquo;tajemnica&rdquo;. Słowo&nbsp;tłumaczy się&nbsp;zatem&nbsp;dosłownie&nbsp;jako&nbsp;&bdquo;pojawienie się nieszczęścia&rdquo; lub &bdquo;tajemnicze nieszczęście&rdquo;.&nbsp;Po raz pierwszy&nbsp;użyto&nbsp;<br />
go&nbsp;podobno&nbsp;w VIII wieku na japońskim dworze cesarskim.</p>

<p><strong>Skąd wzięły się historie o yōkai?</strong></p>

<p>Popularność omawianych na tej stronie istot nie wzięła się z niczego.&nbsp;&nbsp;<br />
Jedną z najbardziej rozpowszechnionych dr&oacute;g roznoszenia się wieści o&nbsp;yōkai&nbsp;były obrzędy&nbsp;zwane&nbsp;Hyaku-Monogatari&nbsp;(dosłownie &ndash; sto opowieści). Były to seanse zbliżone do dzisiejszej tradycji opowiadania strasznych historii&nbsp;<br />
przy świetle latarki.</p>

<p>Grupa os&oacute;b zbierała się w dużej&nbsp;sali, siadając&nbsp;wok&oacute;ł ogniska. Następnie każdy&nbsp;<br />
z uczestnik&oacute;w opowiadał straszną historię na temat jednego z&nbsp;yōkai.&nbsp;Po każdej historii gaszono jedną ze stu świec oświetlających salę.&nbsp;Kiedy już pomieszczenie oświetlone było tylko blaskiem ogniska,&nbsp;spodziewano&nbsp;się przybycia prawdziwego&nbsp;yōkai.&nbsp;&nbsp;</p>

<p><strong>&nbsp;Graficzna reprezentacja&nbsp;yōkai</strong>&nbsp;</p>

<p>Pierwsze rysunki i graficzne przedstawienia&nbsp;yōkai&nbsp;pojawiły się w okresie Muromachi na bardzo popularnym zwoju&nbsp;&bdquo;Hyakkiyagyo&nbsp;emaki<em>&rdquo;&nbsp;</em>autorstwa&nbsp;Tosy&nbsp;Mitsunobu.&nbsp;Przedstawiał on kilkanaście grafik stwor&oacute;w &ndash; niekt&oacute;re w spos&oacute;b poważny, inne zaś w&nbsp;spos&oacute;b humorystyczny.&nbsp;&nbsp;</p>

<p>Osobą, kt&oacute;ra przyczyniła się najbardziej to skatalogowania i zobrazowania&nbsp;yōkai&nbsp;jest&nbsp;Toriyama&nbsp;Sekien. To właśnie on stworzył najwięcej katalog&oacute;w z ilustracjami&nbsp;i podpisami stwor&oacute;w występujących w folklorze japońskim.&nbsp;&nbsp;</p>

<p>Zapraszamy&nbsp;do&nbsp;naszego <a href="/allArticles">katalogu</a> yōkai.&nbsp;Znajdziesz tam szczeg&oacute;łowe informacje&nbsp;na&nbsp;temat konkretnych demon&oacute;w.&nbsp;Zachęcamy r&oacute;wnież do wzięcia udziału w naszym <a href="/quiz">quizie wiedzy</a>.</p>
</div>

         </div>


</div>




</div>

{% endblock %}