{% extends "base_template.html" %}




{% block content %}



<div class="container-md d-inline-flex mt-5">

<div class="d-inline-flex mx-5 p-5 border border-dark rounded articleBackground">



         <div>
    <h2>Test <span class="badge badge-secondary"></span></h2>

         <img src="/static/images/1524c2ca54266068.jpg" class="resizeImage img-thumbnail" alt="...">

          <div><h1>Wprowadzenie</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent in urna sed odio tempor accumsan. Quisque imperdiet sem est, sit amet maximus eros suscipit non. Maecenas aliquam ornare egestas. Praesent a porttitor lacus. Nunc ut ultrices dui. Maecenas maximus, mauris sit amet commodo consectetur, purus enim aliquam nulla, a fermentum nibh augue vel augue. Duis eu nibh auctor, egestas justo ut, facilisis elit. Integer tristique massa id luctus vulputate. Suspendisse luctus aliquet lacus a facilisis.</p>

<h1>Toriyama Sekien</h1>

<p>Integer ut vehicula turpis. Nullam eu luctus est. Quisque sagittis quis quam vel lobortis. Donec nec interdum felis. Aliquam ut egestas justo. Morbi suscipit justo id metus laoreet tincidunt. Sed dignissim, lorem eu semper fringilla, mauris quam interdum lacus, ac finibus sapien ligula non lectus. Donec dapibus eu est eu tincidunt. Nunc ultricies nisi eu est sodales auctor. Donec quis elit mattis, pretium tortor vel, viverra ligula. Donec vel eros quis dolor consectetur efficitur.</p>

<h1>Hyaku-Monogatari (&nbsp;百物語怪談会 )</h1>

<p>Integer ut vehicula turpis. Nullam eu luctus est. Quisque sagittis quis quam vel lobortis. Donec nec interdum felis. Aliquam ut egestas justo. Morbi suscipit justo id metus laoreet tincidunt. Sed dignissim, lorem eu semper fringilla, mauris quam interdum lacus, ac finibus sapien ligula non lectus. Donec dapibus eu est eu tincidunt. Nunc ultricies nisi eu est sodales auctor. Donec quis elit mattis, pretium tortor vel, viverra ligula. Donec vel eros quis dolor consectetur efficitur.</p>

<h1>Festiwal w Kyoto</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent in urna sed odio tempor accumsan. Quisque imperdiet sem est, sit amet maximus eros suscipit non. Maecenas aliquam ornare egestas. Praesent a porttitor lacus. Nunc ut ultrices dui. Maecenas maximus, mauris sit amet commodo consectetur, purus enim aliquam nulla</p>

<p>&nbsp;</p>

<p>&nbsp;</p>
</div>
         </div>






</div>

</div>


{% endblock %}