{% extends "base_template.html" %}

{% block thumbnail %}

   <h1 class="pageTitle"> Wprowadzenie </h1>

{% endblock %}


{% block content %}



<div class="container-md d-inline-flex mt-5">

<div class="d-inline-flex mx-5 p-5 border border-dark rounded articleBackground">



         <div>

   <img src="/static/images/607b3cca24f11890.jpg" class="resizeImage img-thumbnail" alt="...">


          <div><h2>&nbsp;Japońska demonologia - wprowadzenie</h2>

<p><strong>Czym jest Yokai?</strong></p>

<p>Yokai to termin odnoszący się do r&oacute;żnego rodzaju zjawisk paranormalnych. Japończykom słowo &bdquo;Yokai&rdquo; kojarzy się z chochlikami, zjawami,<br />
upiorami i potworami.</p>

<p>Yokai reprezentują zatem:</p>

<ul>
	<li>społeczne niepokoje,</li>
	<li>katastrofy naturalne,</li>
	<li>wyobrażenia o życiu po śmierci,</li>
	<li>strach przed nieznanym.</li>
</ul>

<p><strong>Pisownia słowa &bdquo;Yokai&rdquo;</strong></p>

<p>Słowo to składa się z dw&oacute;ch znak&oacute;w kanji - 妖怪.</p>

<p>Pierwszy znak oznacza &bdquo;nieszczęście&rdquo;. Znaczenie drugiego to &bdquo;pojawienie się czegoś&rdquo; lub &bdquo;tajemnica&rdquo;. Słowo tłumaczy się zatem dosłownie jako &bdquo;pojawienie się nieszczęścia&rdquo; lub &bdquo;tajemnicze nieszczęście&rdquo;. Po raz pierwszy użyto go prawdopodobnie w VIII wieku na dworze cesarskim.</p>

<p><strong>Hyaku-Monogatari</strong> ( 百物語怪談会 )</p>

<p>Popularność omawianych na tej stronie istot nie wzięła się z niczego.<br />
Jedną z najbardziej rozpowszechnionych dr&oacute;g roznoszenia się wieści o Yokai, były obrzędy zwane Hyaku-Monogatari (dosłownie &ndash; sto opowieści).</p>

<p>Były to seanse zbliżone do dzisiejszej tradycji opowiadania strasznych historii przy świetle latarki.</p>

<p>Grupa os&oacute;b zbierała się w dużej sali, siadając wok&oacute;ł ogniska. Następnie każdy z uczestnik&oacute;w opowiadał straszną historię na temat jednego z Yokai. Po każdej historii gaszono jedną ze stu świec oświetlających salę. Kiedy już pomieszczenie oświetlone było tylko blaskiem ogniska, spodziewano się przybycia prawdziwego Yokai.</p>

<p><strong>Graficzna reprezentacja Yokai</strong></p>

<p>Pierwsze rysunki i graficzne przedstawienia Yokai pojawiły się na bardzo popularnym zwoju <em>Hyakkiyagyo emaki </em>autorstwa Tosy Mitsunobu. Przedstawiał on kilkanaście grafik stwor&oacute;w &ndash; niekt&oacute;re w spos&oacute;b poważny, inne zaś w kontekście humorystycznym.</p>

<p>Zwoje tego typu nie miały zazwyczaj fabuły; były raczej swoistą encyklopedią, kt&oacute;ra służyła do utrwalenia istniejącej wiedzy na temat Yokai.</p>

<p>Osobą, kt&oacute;ra przyczyniła się najbardziej to skatalogowania i zobrazowania Yokai, jest Toriyama Sekien. To właśnie on stworzył najwięcej katalog&oacute;w z ilustracjami i podpisami stwor&oacute;w występujących w folklorze japońskim.</p>
</div>
         </div>






</div>




</div>


</div>


{% endblock %}