{% extends "base_template.html" %}

{% block thumbnail %}

<h1 class="pageTitle"> Quiz </h1>

{% endblock %}

{% block content %}
    <div class="form-check form-check-inline">
    <form method="POST">

        {% for p in quiz %}
          <div class="questionControl">

            <p class="questionTitle">{{ p['Question'] }}</p>


            {% set pnr = loop.index0 %}

            {% for o in p["Answers"] %}
              <label class="form-check-label">

                <input class="form-check-input" type="radio" value="{{ o }}" name="{{ pnr }}" required>
                <p class="questionFont">{{ o }}</p>
              </label>
              <br>
            {% endfor %}
          </div>
            {% if current_user.is_authenticated %}
         <a href="/deleteQuestion/{{ p["ID"] }}" class="btn btn-warning"> Usuń </a>
            {% endif %}
        {% endfor %}

        {% if quiz is defined and quiz|length %}
        <button class="btn btn-light" type="submit">Sprawdź odpowiedzi</button>
    {% endif %}
    </form>
    </div>
{% endblock %}