{% extends "base_template.html" %}

{% block thumbnail %}

    <div class="d-block m-5 p-3 border border-dark rounded articleBackground text-center">
    Witaj w naszym quizie. Wprowadź odpowiedzi na formularzu, a następnie kliknij "Sprawdź odpowiedzi". Dowiesz się wtedy jak dobrze Ci poszło.
    Pamiętaj, że zawsze możesz wrócić do artykułu, którego dotyczy pytanie. <br>Wystarczy, że klikniesz przycisk "POMOC".
        POWODZENIA!

</div>
{% endblock %}


{% block content %}

    <div class="form-check form-check-inline">

    <form method="POST">

        {% for p in quiz %}
          <div class="questionControl">

            <p class="questionTitle">{{ p['Question'] }}</p>


            {% set pnr = loop.index0 %}

            {% for o in p["Answers"] %}
              <label class="form-check-label">

                <input class="form-check-input" type="radio" value="{{ o }}" name="{{ pnr }}" required>
                <p class="questionFont">{{ o }}</p>
              </label>
              <br>
            {% endfor %}
          <a href="linkQuiz/{{ p["Link"] }}"> POMOC </a>
          </div>
            {% if current_user.is_authenticated %}
         <a href="/deleteQuestion/{{ p["ID"] }}" class="btn removeButton quizMove"> Usuń </a>
            {% endif %}




        {% endfor %}

        {% if quiz is defined and quiz|length %}
        <button class="btn btn-light quizMove" type="submit">Sprawdź odpowiedzi</button>
    {% endif %}
    </form>
    </div>
{% endblock %}