{% extends "base_template.html" %}

{% block content %}




<div class="d-inline-flex mx-5 p-5 border border-dark rounded articleBackground">

     {% for art in article %}

         <div>
    <h2>{{ art['Title'] }} <span class="badge badge-secondary"></span></h2>

         <img src="{{url_for('static', filename='images/')}}{{ art["Image"] }}" class="resizeImage figure-img img-thumbnail" title="{{ art["Image_desc"]}}" alt="{{ art["Safe"] }}">

    <div>

       <h6> Zapis kanji: {{ art["Kanji"] }}</h6>
       <h6> Zapis kana: {{ art["Kana"] }}</h6>

    </div>

          <div>{{ art['Desc']|safe }}</div>

         </div>




    {% endfor %}

</div>



{% endblock %}