{% extends "base_template.html" %}



{% block content %}

{% if article is defined and article.items|length %}
<div class="container bcontent d-inline-flex">


        <hr />
        <div class="card-group">
        {% for art in article.items %}

    <div class="card cardBorder">
           <img src="/static/images/{{ art.image }}" class=" resizeImageCard" alt="...">
            <div class="card-body articleBackground">
                 <h5 class="card-title">{{ art.name }}</h5>
            </div>
            <div class="card-footer populartitleBack">
                <a href="/article/{{ art.id }}" class="btn btn-primary"> Zobacz </a>
        {% if current_user.is_authenticated %}
    <a href="/updatePost/{{ art.id }}" class="btn btn-secondary"> Aktualizuj </a>
    <td> <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal"> USUŃ </button> </td>
     <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Czy usunąć artykuł?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
        <form action="{{ url_for('deletePost', postID=art.id) }}" method="post">
            <input class="btn btn-danger" type="submit" value="Usuń">
        </form>
      </div>
    </div>
  </div>
</div>
      {% endif %}
            </div>
        </div>

{% endfor %}



</div>
</div>


    {% else %}

    <h2> Przykro nam, ale nie ma tu jeszcze żadnej zawartości </h2>
    {% endif %}

{% endblock %}


{% block pagination %}
  <div class="d-inline-flex paginationbox">
{% for page_num in article.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
{% if page_num %}
    {% if article.page == page_num %}
        <a class="btn btn-dark m-2" href="{{ url_for('single_category', page=page_num, categoryID = current_category) }}"> {{ page_num }}</a>
            {% else %}
        <a class="btn btn-outline-dark m-2" href="{{ url_for('single_category', page=page_num, categoryID = current_category) }}"> {{ page_num }}</a>
        {% endif %}
            {% else %}
            ...
            {% endif %}


        {% endfor %}
</div>
{% endblock %}

