{% extends "base_template.html" %}

{% block thumbnail %}
<h1 class="pageTitle"> Źródła </h1>
{% endblock %}


{% block content %}

<div class="d-inline-flex mx-5 p-5 border border-dark rounded articleBackground">

<ol>
    <h2>Literatura</h2>
    <li>Dylan-Foster M., <em>Yōkai</em>. <em>Tajemnicze stwory w kulturze japońskiej</em>, wyd. I, Kraków,
Wydawnictwo Uniwersytetu Jagiellońskiego, 2017. </li>
    <li>Dylan-Foster M., <em>Pandemonium and Parade</em>. <em>Japanese Monsters and the Culture of Yokai</em>, Los Angeles,
University of California Press, 2009.</li>
    <li>Meyer M., <em>The Night Parade of One Hundred Demons,</em>. <em>A Field Guide to Japanese Yokai</em>, Echizen,
Matthew Meyer, 2015.</li>
    <li>Noriko R., <em>Japanese demon lore</em>. <em>Oni from ancient times to the present</em>, Utah,
Utah State University Press, 2010. </li>
    <li>Yoda H., Alt M., <em>Yokai Attack!</em>. <em>The Japanese Monster Survival Guide</em>, Utah,
Tuttle Publishing, 2013.</li>
    <li><em>The Nihon Shoki</em>. <em>The Chronicles of Japan</em>, Ashland,
Library of Alexandria.</li>

    <h2> Źródła elektroniczne </h2>

   <li>  <a href="http://yokai.com/"> http://yokai.com/ </a> </li>
   <li>  <a href="https://commons.wikimedia.org/"> https://commons.wikimedia.org/ </a> </li>
   <li>  <a href="https://hyakumonogatari.com/what-is-hyakumonogatari/"> https://hyakumonogatari.com/what-is-hyakumonogatari/ </a> </li>


</ol>
</div>


{% endblock %}