{% extends "base_template.html" %}

{% block thumbnail %}
<h1 class="pageTitle"> Źródła </h1>
{% endblock %}


{% block content %}

<div class="d-inline-flex mx-5 p-5 border border-dark rounded articleBackground">

<ol>
    <li>Dylan-Foster M. (2017), <em>Yōkai</em>. <em>Tajemnicze stwory w kulturze japońskiej</em>, wyd. I, Kraków,
Wydawnictwo Uniwersytetu Jagiellońskiego. </li>
    <li>Dylan-Foster M. (2009), <em>Pandemonium and Parade</em>. <em>Japanese Monsters and the Culture of Yokai</em>, Los Angeles,
University of California Press. </li>
    <li>Noriko Reider (2010), <em>Japanese demon lore</em>. <em>Oni from ancient times to the present</em>, Utah,
Utah State University Press. </li>
    <li>Yoda H., Alt M. (2013), <em>Yokai Attack!</em>. <em>The Japanese Monster Survival Guide</em>, Utah,
Tuttle Publishing. </li>


</ol>


</div>


{% endblock %}